*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(#919bff, #133a94);
    display: flex;
    justify-content: center;
}

section{
    box-shadow: 0 0 10px 0px #5f5f5f;
    margin-top: 30vh;
    width: 20%;
    height: 20%;
    background-color: #23235B;
    padding: 36px 20px;
    color: white;
}

h1{
    text-align: center;
    margin-bottom: 10px;
}

.check {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 10px;
}

input[type=text]{
    margin: 18px auto;
    display: block;
    width: 90%;
    font-size: 16px;
}

.text{
    width: 100%;
}

button {
    cursor: pointer;
    transition: .2s;
    border: none;
    background-color: #333370;
    padding: 14px 42px;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    margin: 0 auto;
    display: block;
    margin-top: 18px;
    border: 2px solid #333370;
}

button:hover{
    background-color: #2a2a5f;
    color: #afafaf;
}

#length{
    margin: 0;
    display: block;
    width: 40px;
    font-size: 14px;
}